.Friends_container {
  /* background-color: blue; */
  height: 100vh;
  overflow: scroll;
}

.Friends_container::-webkit-scrollbar {
  display: none;
}

.Friends_Top {
  background-color: #383f44;
  height: 11%;
  color: white;
  font-size: 30px;
}

.Friends_Top_title {
  text-align: left;
  padding-left: 10px;
}

.Friends_Top_chatSelect {
  display: flex;
  padding-left: 10px;
}

.Friends_Top_searchInput {
  margin-top: 10px;
  border: none;
  outline: none;
  background-color: #2d2d2d;
  border-radius: 5px;
  padding-left: 5px;
  color: white;
  font-size: 20px;
  width: 300px;
  height: 35px;
}

.Friends_Top_searchInput::placeholder {
  color: white;
}

.Friends_Top_addIcon {
  margin-left: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.Friends_Top_addIcon:hover {
  transform: scale(1.15, 1.15);
  color: #fd4517;
}

.Friends_contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2d2d;
  height: 89%;
}

.User_block {
  color: white;
  width: 95%;
  height: 85px;
  margin-top: 10px;
  border: 1px solid #ffbcab;
  border-radius: 5px;
  display: flex;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.User_block:hover {
  border-color: #fd4517;
}

.User_left {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.User_icon {
  width: 65px;
  height: 65px;
  border-radius: 50%;
}

.User_icon_pic {
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 50%;
}

.User_right {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.User_title {
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
  width: 75%;
}

/* .User_action {
  font-size: 30px;
  width: 25%;
  transition: 0.3s;
} */

/* .User_action:hover {
  transform: scale(1.2, 1.2);
} */

.User_currActive {
  background-color: #fd4517;
  border-color: #ffbcab;
  color: #2d2d2d;
}

.Friends_dontHaveFriendsSadge {
  color: white;
  font-weight: bold;
  margin-top: 100%;
}

.SearchUser_title {
  color: white;
  font-size: 50px;
  position: absolute;
}

@media only screen and (max-width: 950px) {
  .User_right {
    display: none;
  }
  .User_left {
    width: 100%;
  }
  /* .Friends_Top_searchInput {
    display: none;
  } */
  .Friends_Top_title {
    font-size: 25px;
  }
  .Friends_Top_searchInput {
    width: 90px;
    font-size: 14px;
  }
  .Friends_Top {
    height: 150px;
  }
  .Friends_Top_addIcon {
    margin-left: -30px;
    margin-top: 40px;
  }
}
