.LeftPanel_container,
.LeftPanelProfile_container {
  min-width: 380px;
  user-select: none;
}

.LeftPanel_Top {
  background-color: grey;
  height: 10%;
}

@media only screen and (max-width: 950px) {
  .LeftPanel_container {
    min-width: 110px;
  }
  .LeftPanelProfile_container {
    max-width: 0px;
    min-width: 0px;
  }
}
