.MenuPanelContainer {
  height: 100vh;
  width: 70px;
  background-color: #fd4517;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.MenuPanel_userProfilePhoto {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  margin-top: 20px;
  cursor: pointer;
}

.profilePhoto_pic {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
}

.MenuPanel_UserChatsIcon,
.MenuPanel_UserIcon,
.MenuPanel_UserFriendsIcon,
.MenuPanel_SignOutIcon {
  font-size: 40px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s;
  color: #ffbcab;
}
.MenuPanel_UserChatsIcon:hover,
.MenuPanel_UserIcon:hover,
.MenuPanel_UserFriendsIcon:hover,
.MenuPanel_SignOutIcon:hover {
  color: #ffe4de;
}

.MenuPanel_BottomButton {
  position: absolute;
  bottom: 0;
}

.MenuPanel_Icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.currActive,
.currActive:hover {
  color: white;
}
