.Profile_container {
  /* background-color: blue; */
  height: 100vh;
  overflow: scroll;
}

.Profile_container::-webkit-scrollbar {
  display: none;
}

.Profile_Top {
  background-color: #383f44;
  height: 100px;
  color: white;
  font-size: 30px;
}

.Profile_Top_title {
  text-align: left;
  padding-left: 10px;
}

.Profile_Bottom_title {
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 12px;
}

.Profile_contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2d2d;
  min-height: 89.2%;
}

.Profile_profilePanel {
  background-color: #383f44;
  width: 350px;
  height: 160px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.Profile_profilePanelPic {
  display: flex;
  justify-content: center;
}

.Profile_profileImg {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
}

.Profile_backgroundPic {
  background-color: #2d2d2d;
  position: absolute;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  margin-top: 80px;
  margin-left: 70px;
  cursor: pointer;
}

.Profile_profilePanelPicChange {
  font-size: 25px;
  color: white;
}

.Profile_profilePanelName {
  color: white;
  margin-top: 15px;
  font-size: 22px;
}

.ProfileInformation_container {
  color: white;
  width: 350px;
  margin-top: 20px;
}

.ProfileInformation_panel {
  border: 1px solid #2b2b2f;
  border-top: none;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #383f44;
  padding-left: 5px;
}

.ProfileInformation_panel:nth-child(1) {
  border-top: 1px solid #2b2b2f;
}

.ProfileInformation_left {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: left;
  margin-left: 5px;
}

.ProfileInformation_title {
  font-size: 15px;
}

.ProfileInformation_content {
  font-size: 20px;
}

.ProfileInformation_content a {
  color: #ff714e;
}

.ProfileInformation_right {
  width: 5%;
}

.ProfileInformation_icon {
  font-size: 26px;
}

.ProfileSocials_panel {
  border: 1px solid #2b2b2f;
  border-top: none;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #383f44;
  padding-left: 5px;
}

.ProfileSocials_panel:nth-child(6) {
  margin-top: 30px;
  border-top: 1px solid #2b2b2f;
}

.ProfileSocials_left {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: left;
  margin-left: 5px;
}

.ProfileSocials_title {
  font-size: 15px;
}

.ProfileSocials_content {
  font-size: 20px;
}

.ProfileSocials_content > a {
  color: #ff714e;
  text-decoration: none;
}

.ProfileSocials_right {
  width: 10%;
}

.ProfileSocials_icon {
  font-size: 26px;
}
