.Profile_container {
  /* background-color: blue; */
  height: 100vh;
  overflow: scroll;
}

.Profile_container::-webkit-scrollbar {
  display: none;
}

.Profile_Top {
  background-color: #383f44;
  height: 11%;
  color: white;
  font-size: 30px;
}

.Profile_Top_title {
  text-align: left;
  padding-left: 10px;
}

.Profile_Bottom_title {
  text-align: left;
  padding-left: 10px;
  font-size: 20px;
  margin-top: 12px;
}

.Profile_contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2d2d2d;
  min-height: 89%;
}

.Profile_profilePanel {
  background-color: #383f44;
  width: 350px;
  height: 160px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.Profile_profilePanelPic {
  display: flex;
  justify-content: center;
}

.Profile_profileImg {
  width: 100px;
  height: 100px;
  margin-top: 10px;
  border-radius: 50%;
}

.Profile_backgroundPic {
  background-color: #2d2d2d;
  position: absolute;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 50%;
  margin-top: 80px;
  margin-left: 70px;
  cursor: pointer;
}

.Profile_profilePanelPicChange {
  font-size: 25px;
  color: white;
}

.Profile_profilePanelName {
  color: white;
  margin-top: 15px;
  font-size: 22px;
}
