@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");

.Register_card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Register_title {
  margin-top: 5%;
  color: #fd4517;
  font-size: 34px;
}

.Register_title_appName {
  font-family: "Pushster", cursive;
}

.Register_card_inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
  width: 100%;
}

.register_input_name,
.register_input_email,
.register_input_password {
  width: 70%;
}

.Register_error {
  position: absolute;
  margin-top: 18.5%;
  font-size: 18px;
  color: red;
}

.Register_buttons {
  width: 70%;
  margin-top: 5%;
}

.RegisterUser_button {
  float: left;
  border: none;
  outline: none;
  width: 30%;
  font-size: 34px;
  border-radius: 15px;
  text-shadow: 5px 5px 10px black;
  color: white;
  background-image: linear-gradient(to left, #fd4517 0%, #ffb199 100%);
}

.Register_switchToLogin {
  margin-top: 2.5%;
  float: right;
}

.Register_Or {
  font-size: 34px;
  color: #fd4517;
}

.Register_anotherOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}

.Register_facebookOption {
  width: 32%;
  margin-right: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  cursor: pointer;
}

.Register_facebook_logo {
  width: 50px;
}

.Register_facebook_logo_img {
  width: 50px;
}

.Register_facebook_continue {
  margin-top: 15px;
  margin-left: 10px;
}

.Register_googleOption {
  width: 32%;
  margin-left: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #efefef;
  cursor: pointer;
}

.Register_google_logo {
  width: 50px;
}

.Register_google_logo_img {
  width: 50px;
}

.Register_google_continue {
  margin-top: 15px;
  margin-left: 10px;
}

.RegisterLoadingAnimation {
  position: absolute;
  margin-left: -10%;
  margin-top: 0.5%;
}
