.requestPanel {
  background-color: #323333;
  border: 2px solid #fd4517;
  width: 400px;
  height: 304px;
  position: absolute;
  top: 0;
  border-radius: 10px;
  transition: 0.3s;
  color: white;
  overflow: scroll;
  z-index: 1;
}

.Active {
  animation-fill-mode: both;
  animation-name: show;
  animation-duration: 0.4s;
}

.Disable {
  animation-fill-mode: both;
  animation-name: hide;
  animation-duration: 0.4s;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: scale(0.1, 0.1);
    margin-left: 30px;
    margin-top: -70px;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
    margin-top: 70px;
    margin-left: 475px;
    visibility: visible;
  }
}
@keyframes hide {
  0% {
    margin-top: 70px;
    margin-left: 475px;
  }
  100% {
    opacity: 0;
    transform: scale(0.1, 0.1);
    margin-left: 30px;
    margin-top: -70px;
    visibility: hidden;
  }
}

.requestPanel::-webkit-scrollbar {
  display: none;
}

.User_container {
  display: flex;
  border-bottom: 2px solid #fd4517;
  padding-top: 10px;
  padding-bottom: 10px;
}

.container_left {
  width: 25%;
  border-top-left-radius: 10px;
}

.left_profPic {
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.left_profPic img {
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  margin-left: 15px;
}

.container_right {
  width: 75%;
}

.right_top {
  text-align: left;
  padding-left: 5px;
}

.right_bottom {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
}

.acceptRequest {
  outline: none;
  border: none;
  background-color: #fd4517;
  color: white;
  width: 100px;
  height: 35px;
  font-size: 24px;
  border-radius: 5px;
  transition: 0.3s;
}

.acceptRequest:hover {
  background-color: #ff714e;
}

.deleteRequest {
  outline: none;
  border: none;
  margin-left: 20px;
  width: 100px;
  height: 35px;
  font-size: 24px;
  border-radius: 5px;
  background-color: #4e4f50;
  color: white;
  transition: 0.3s;
}

.deleteRequest:hover {
  background-color: #686969;
}
